.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  display: flex;

  width: 1220px;
  margin: 0 auto;
}

.example__container {
  width: 436px;
}

.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photos__item {
  width: 592px;
  height: 511px;
}
