.checked {
  position: relative;
}

.checked:hover .checked-mark {
  border: 1px solid #878787;
}

.checked__desc {
  padding-left: 46px;
}

.checked-mark {
  position: absolute;
  top: -7px;
  left: 0;
  border: 1px solid #cdcdcd;

  content: "";
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.checked__input:checked + .checked-mark::before {
  position: absolute;
  top: 6px;
  left: 4px;

  content: url(@img-tick);
  width: 30px;
  height: 30px;
}

@media (min-width: @tablet-width) {
  .checked {
    .checked__desc {
      .secondary-title-2030();
      color: #000000;

      padding-left: 59px;
    }
  }

  .checked-mark {
    position: absolute;
    top: -5px;

    width: 40px;
    height: 40px;
  }

  .checked__input:checked + .checked-mark::before {
    position: absolute;
    top: 10px;
    left: 9px;

    width: 40px;
    height: 40px;
  }
}
