.company-address {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 280px;
  margin: 0 auto;
  padding: 26px 20px;

  background-color: #ffffff;

  &__title {
    margin: 0;
  }

  &__desc {
    margin: 0;
  }

  &--catalog {
    background-color: #f2f2f2;
  }
}

@media (min-width: @tablet-width) {
  .company-address {
    width: 708px;
    padding: 58px 30px;

    &__title {
      .secondary-title-2024();
      color: #111111;
      width: 172px;
    }

    &__desc {
      .text-secondary-extra();
      width: 160px;
    }
  }
}

@media (min-width: @desktop-width) {
  .company-address {
    box-sizing: border-box;
    width: 565px;
    height: 198px;
    padding: 56px 80px;

    background-color: #ffffff;

    &__desc {
      text-align: left;
    }
  }
}
