.nav__list {
  .configuring-list;
}

.nav__item {
  position: relative;
}

.nav__item::after {
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;

  content: "";
  border-top: 1px solid #e6e6e6;
}

.nav__item::before {
  position: absolute;
  bottom: -1px;
  left: -20px;
  right: -20px;

  content: "";
  border-bottom: 1px solid #e6e6e6;
}

.nav__link {
  .configuring-link;

  padding: 22px 0 24px;
}

@media (min-width: @tablet-width) {
  .nav__list {
    display: flex;
    flex-direction: row;
  }

  .nav__item:not(:last-child) {
    margin-right: 36px;
  }

  .nav__item::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .nav__link {
    .configuring-link;

    padding: 20px 0 20px;
  }
}
