.product {
  position: relative;
  padding: 13px 0 19px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    content: "";
    border-top: 1px solid #cdcdcd;
  }

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;

    content: "";
    border-top: 1px solid #cdcdcd;
  }

  .product__title {
    margin: 0 0 13px;
  }
}

.product__desc {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .product {
    &::before {
      display: none;
    }

    .product__container {
      display: flex;
      justify-content: space-between;
    }

    .product__title {
      .secondary-title-2020();
      margin: 0 0 23px;
    }
  }

  .product__desc {
    display: grid;
    grid-template-columns: 140px 45px;
    column-gap: 49px;
    align-items: start;

    margin: 0;

    .product__parameter,
    .product__meaning {
      .text-secondary-extra();
      text-align: right;
      margin: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .product {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 38px;

    padding: 15px 0;

    .product__title {
      text-align: left;
      margin: auto 0;
    }
  }

  .product__desc {
    display: grid;
    grid-template-columns: 140px 60px;
    column-gap: 100px;
    justify-items: start;
    align-items: center;

    .product__parameter,
    .product__meaning {
      text-align: left;
    }
  }
}
