.program {
  position: relative;

  padding: 0 20px;
  background-color: #f2f2f2;
}

.program::after {
  position: absolute;
  top: 24px;
  left: 22px;
  z-index: 1;

  content: "";
  width: 50px;
  height: 50px;

  background-color: #68b738;
  border-radius: 50%;
}

.program__img-1::before {
  .program__img(21px, 15px, 67px, 50px, @img-food-slim);
}

.program__img-2::before {
  .program__img(25px, 13px, 67px, 50px, @img-food-pro);
}

.program__title {
  margin: 0;
  padding: 30px 0 29px 71px;
}

.program__desc {
  margin: 0 0 38px;
}

.program__link {
  .configuring-link;

  position: relative;
  padding-bottom: 22px;
}

.program__link::before {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;

  content: "";
  border-top: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .program {
    position: relative;
    padding: 0;

    background-color: #f2f2f2;
  }

  .program::after {
    position: absolute;
    top: 92px;
    left: 446px;
    z-index: 1;

    content: "";

    width: 200px;
    height: 200px;

    background-color: #68b738;
    border-radius: 50%;
  }

  .program__img-1::before {
    .program__img(81px, 476px, 140px, 194px, @img-food-slim);

    //position: absolute;
    //top: 81px;
    //left: 476px;
    //z-index: 2;
    //
    //content: "";

    //width: 140px;
    //height: 194px;
    //background-image: url("../img/food-slim.svg");
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: cover;
  }

  .program__img-2::before {
    .program__img(135px, 410px, 268px, 122px, @img-food-pro);
    //position: absolute;
    //top: 135px;
    //left: 410px;
    //z-index: 2;
    //
    //content: "";
    //
    //width: 268px;
    //height: 112px;
    //background-image: url("../img/food-pro.svg");
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: cover;
  }

  .program__title {
    .main-title;
    text-align:left;
    color: #000000;

    width: 340px;
    padding: 77px 0 24px 52px;
  }

  .program__desc {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    width: 340px;
    margin: 0 0 52px 52px;
  }

  .program__link {
    .configuring-link;

    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;

    position: relative;
    padding: 0 0 57px 52px;
  }

  .program__link::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .program {
    position: relative;
    width: 570px;
    padding: 0;

    background-color: #f2f2f2;
  }

  .program::after {
    position: absolute;
    top: 41px;
    left: 52px;
    z-index: 1;

    content: "";

    width: 100px;
    height: 100px;

    background-color: #68b738;
    border-radius: 50%;
  }

  .program__img-1::before {
    .program__img(41px, 67px, 70px, 97px, @img-food-slim);

    //position: absolute;
    //top: 41px;
    //left: 67px;
    //z-index: 2;
    //
    //content: "";
    //
    //width: 70px;
    //height: 97px;
    //background-image: url("../img/food-slim.svg");
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: cover;
  }

  .program__img-2::before {
    .program__img(67px, 33px, 134px, 56px, @img-food-pro);
    //position: absolute;
    //top: 67px;
    //left: 33px;
    //z-index: 2;
    //
    //content: "";
    //
    //width: 134px;
    //height: 56px;
    //background-image: url("../img/food-pro.svg");
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: cover;
  }

  .program__title {
    padding: 77px 0 73px 214px;
  }

  .program__desc {
    width: auto;
    margin: 0 52px 23px 52px;
  }
}
