.program {
  position: relative;

  padding: 0 20px;
  background-color: #f2f2f2;
}

.program::after {
  position: absolute;
  top: 24px;
  left: 22px;
  z-index: 1;

  content: "";
  width: 50px;
  height: 50px;

  background-color: #68b738;
  border-radius: 50%;
}

.program__img-1::before {
  .program__img(21px, 15px, 67px, 50px, @img-food-slim);
}

.program__img-2::before {
  .program__img(25px, 13px, 67px, 50px, @img-food-pro);
}

.program__title {
  margin: 0;
  padding: 30px 0 29px 71px;
}

.program__desc {
  margin: 0 0 38px;
}

.program__link {
  .configuring-link;

  position: relative;
  padding-bottom: 22px;
  margin: 0;
}

.program__link::before {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;

  content: "";
  border-top: 1px solid #d9d9d9;
}

.program__link::after {
  position: absolute;
  bottom: 23px;
  left: 99px;

  content: "";
  width: 24px;
  height: 12px;
  background-image: url(@img-arrow);
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .program {
    position: relative;
    padding: 0;

    background-color: #f2f2f2;
  }

  .program::after {
    position: absolute;
    top: 92px;
    left: 446px;
    z-index: 1;

    content: "";

    width: 200px;
    height: 200px;

    background-color: #68b738;
    border-radius: 50%;
  }

  .program__img-1::before {
    .program__img(81px, 476px, 140px, 194px, @img-food-slim-l);
  }

  .program__img-2::before {
    .program__img(129px, 413px, 268px, 122px, @img-food-pro-l);
  }

  .program__title {
    .main-title;
    text-align: left;
    color: #000000;

    width: 340px;
    padding: 77px 0 24px 52px;
  }

  .program__desc {
    .text-secondary-1624();

    width: 340px;
    margin: 0 0 52px 52px;
  }

  .program__link {
    .configuring-link;

    .secondary-title-2030();
    text-transform: uppercase;
    color: #000000;

    position: relative;
    padding: 0 0 57px 52px;
  }

  .program__link::before {
    display: none;
  }

  .program__link::after {
    position: absolute;
    bottom: 67px;
    left: 181px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    position: relative;
    width: 570px;
    padding: 0;

    background-color: #f2f2f2;
  }

  .program::after {
    position: absolute;
    top: 45px;
    left: 51px;
    z-index: 1;

    content: "";

    width: 100px;
    height: 100px;

    background-color: #68b738;
    border-radius: 50%;
  }

  .program__img-1::before {
    .program__img(41px, 67px, 70px, 97px, @img-food-slim-m);
  }

  .program__img-2::before {
    .program__img(66px, 32px, 134px, 56px, @img-food-pro-m);
  }

  .program__title {
    padding: 77px 0 73px 214px;
  }

  .program__desc {
    width: auto;
    margin: 0 52px 24px 51px;
  }

  .program__link::after {
    position: absolute;
    bottom: 64px;
    left: 188px;
  }
}
