.photos__list {
  .configuring-list;
  margin-bottom: 20px;
}

.photos__img {
  display: block;
  margin: 0 auto;
}

.disabled {
  display: none;
}

@media (min-width: @tablet-width) {
  .photos__list {
    position: absolute;
    top: -169px;

    display: grid;
    grid-template-columns: repeat(60, 10px);
    grid-template-rows: 511px;

    width: 592px;
    height: 511px;
  }

  .photos__item-1 {
    grid-column: 3/31;
    grid-row: 1;
    overflow: hidden;
    z-index: 1;
  }

  .photos__item-2 {
    grid-column: 4/50;
    grid-row: 1;
    z-index: 0;
    overflow: hidden;
  }

  .photos__img {
    width: 592px;
    height: 511px;

    object-fit: fill;
    background-repeat: no-repeat;
  }

  .disabled {
    display: block;
  }
}
