.photos__list {
  .configuring-list;
  margin-bottom: 20px;
}

.photos__img {
  display: block;
  margin: 0 auto;
}

.disabled {
  display: none;
}

@media (min-width: @tablet-width) {
  .photos__list {
    position: absolute;
    top: -176px;
  }

  .photos__img {
    width: 592px;
    height: 511px;

    object-fit: fill;
    background-repeat: no-repeat;
  }
}
