.program-selection {
  width: 280px;
  margin: 0 auto 20px;
  padding: 27px 20px 0;

  background-color: rgba(104, 183, 56, 0.85);
  background-size: 320px 302px;
}

.program-selection__title {
  margin: 0 0 25px;
}

.program-selection__desc {
  margin: 0 auto 29px;
}

.program-selection__img {
  display: block;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .program-selection {
    position: relative;

    width: 708px;
    margin: 0 auto;
    padding: 0 30px 0;

    background-color:  #FFFFFF;
  }

  .program-selection__wrapper {
    position: relative;
    z-index: 1;

    width: 418px;
    margin: 0 0 0 90px;
  }

  .program-selection__title {
    .main-title-tablet;
    margin-bottom: 41px;
  }

  .program-selection__desc {
    .secondary-title-tablet;
    margin-bottom: 49px;
  }

  .program-selection__button {
    .secondary-title-tablet;
    text-align: center;
    color: #ffffff;

    width: auto;
    margin-bottom: 526px;
    padding: 16px 26px;

    background-color: #68b738;
    border: 0;
    cursor: pointer;
  }

  .program-selection__img {
    position: absolute;
    bottom: 0;
    z-index: 0;

    width: 708px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .program-selection {
    position: relative;
    display: flex;

    width: 1220px;
    margin: 0 auto 82px;
    padding: 0 110px;

    background-color:  #FFFFFF;
  }

  .program-selection__wrapper {
    width: 418px;
    margin: 0 0 0 80px;
  }

  .program-selection__title {
    .main-title-tablet;
    margin-bottom: 40px;
  }

  .program-selection__desc {
    .secondary-title-tablet;
    margin-bottom: 52px;
  }

  .program-selection__button {
    margin-bottom: 185px;
  }

  .program-selection__img {
    position: absolute;
    z-index: 2;
    top: -150px;
    right: 330px;

    width: 552px;
    height: 449px;
  }
}
