.form__input-data {
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.form__goal-wrapper {
  padding: 28px 0 22px;
  border-bottom: 1px solid #d9d9d9;
}

.form__client {
  position: relative;
  padding: 26px 0 23px;

  &:before {
    .line-right(44px, 38%);
  }
}

.form__comment {
  position: relative;
  padding: 0 0 23px;

  &::before {
    .line-right(14px, 45%);
  }
}

.form__additionally {
  position: relative;

  &::before {
    .line-right(14px, 45%);
  }
}

.form__send {
  width: 280px;
  padding: 0 0 32px;
  margin: 0 auto;

  .form__button {
    margin-bottom: 21px;
  }

  .form__description {
    text-align: center;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .form__input-data {
    padding-bottom: 72px;
    border-bottom: 1px solid transparent;
  }

  .form__goal-wrapper {
    padding: 0 0 71px;
    border-bottom: 2px solid transparent;
  }

  .form__client {
    padding: 0 0 65px;
    border-bottom: transparent;

    &::before {
      .line-right(22px, 18%);
    }

    &::after {
      .line-left(22px, 8%);
    }
  }

  .form__comment {
    padding: 0 0 65px;
    border-bottom: transparent;

    &::before {
      .line-right(22px, 62%);
    }

    &::after {
      .line-left(22px, 8%);
    }
  }

  .form__additionally {
    padding: 0;

    &::before {
      .line-right(22px, 52%);
    }

    &::after {
      .line-left(22px, 8%);
    }
  }

  .form {
    .form__send {
      display: flex;
      align-items: center;

      width: 630px;
      padding: 0;
      margin: 0 auto 72px;
    }

    .form__button {
      .secondary-title-2030();
      width: 282px;
      margin: 0 55px 0 0;
    }

    .form__description {
      .text-secondary-extra();
      color: #000000;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;

    width: 1220px;
    margin: 0 auto 66px;
  }

  .form__input-data {
    padding: 0;
    border-bottom: 1px solid transparent;
  }

  .form__goal-wrapper {
    padding: 0;
    border-bottom: 2px solid transparent;
  }

  .form__client {
    padding: 0 0 47px;
    border-bottom: transparent;

    &::before {
      .line-right(22px, 50%);
    }

    &::after {
      .line-left(22px, 5%);
    }
  }

  .form__comment {
    padding: 0 0 64px;
    border-bottom: transparent;

    &::before {
      .line-right(22px, 50%);
    }

    &::after {
      .line-left(22px, 5%);
    }
  }

  .form__additionally {
    padding: 0;

    &::before {
      .line-right(22px, 50%);
    }

    &::after {
      .line-left(22px, 5%);
    }
  }

  .form {
    .form__send {
      display: flex;
      align-items: center;

      width: 1220px;
      padding: 0;
      margin: 0 auto 82px;
    }

    .form__button {
      .secondary-title-2030();
      width: 568px;
      margin: 0 81px 0 0;
    }
  }
}
