.main-footer {
  margin: 0;
  background-color: #f2f2f2;

  &__address {
    background-color: #ffffff;
  }

  &__contacts {
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .main-footer {
    margin: 0;
    background-color: #f2f2f2;

    &__address {
      background-color: #ffffff;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    position: relative;
    margin: 0;

    background-color: #f2f2f2;

    &__address {
      position: absolute;
      top: 95px;
      left: 110px;
      z-index: 1;
    }

    &__map {
      z-index: 0;
      height: 400px;
    }
  }
}
